#cookie-popup {
    position: fixed;
    bottom: 30px;
    right: 30px;
    max-width: 345px;
    background-color: #0030FF;
    color: #fff;
    padding: 20px;
    border:  1px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 9999;
    display: flex;
    gap: 25px;
  }
  
  #cookie-popup p {
    margin: 0;
    font-size: 11px;
  }
  
  #cookie-popup button {
    align-self: flex-start;
    background-color: #D9D9D9;
    color: #000000;
    border: none;
    padding: 5px 20px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  #cookie-popup button:hover {
    background-color: #363636;
    color: #fff;
  }

  .cookie-image img{
    width: 63px;
    height: 116px;
  }

  .cookie-text{
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cookie-text h6{
    font-size: 16px;
  }

  .cookie-text p{
    font-size: 10px;
  }