
.hero-banner {
    height: 100dvh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title-wrapper-heading {
    width: 90%;
}

.title-wrapper-heading h1{
    top: 50px;
    font-size: 120px;
    width: 60%;
    line-height: 95px;
}

.hero-header {
    display: flex;
    width: 90%;
    justify-content: space-between; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    padding: 25px 0;
}

.hero-header p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.map-section{
    background-color: #f8f9fa;
    color: #f8f9fa;
}

.map-container {
    position: relative;
}

.map-section h1{
    font-size: 80px;
    font-family: 'smFontLight', sans-serif;
    color: #001233;
}

.map-section p{
    font-size: 24px;
    font-family: 'smFontLight', sans-serif;
}

.map-link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    color: #f8f9fa;
    font-size: 14px;
    background: #363636; /* Dark background for labels */
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.map-link:hover {
    background: rgba(34, 33, 33, 0.74); /* Highlight on hover */
}

.map-lines {
    pointer-events: none; /* Prevent interaction with the lines */
}

/* featured */
.feature-section{
    background: #001233;
    color: #f8f9fa;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px 0;
    gap: 45px;
}

.feature-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    width: 90%;
}

.feature-section h1{
    font-family: 'smFontLight', sans-serif;
    font-size: 80px;
}
.feature-section p{
    font-family: 'smFontLight', sans-serif;
    font-size: 24px;
}

.feature-container{
    display: flex;
    align-items: flex-start ;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
}

.feature-wrapper-item{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.feature-title{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-title p{
    width: 225px;
    font-size: 4;
}

.feature-item {
    position: relative;
    width: 500px; /* Adjust as needed */
    height: 500px;
    overflow: hidden;
    border-radius: 8px;
    opacity: 0;
}

.feature-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75)); /* Black gradient */
    z-index: 1; /* Ensure it appears behind content */
    pointer-events: none; /* Prevent interaction */
}

.feature-img {
    width:550px;
    height: 550px;
    display: block;
    object-fit: cover;
    /* Fade effect at the bottom */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}

.feature-img2{
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    z-index: 2; /* Ensure it appears in front of the hero image */
    width: 280px; /* Adjust size as needed */
    height: 280px; /* Adjust size as needed */
    object-fit: contain; /* Maintain aspect ratio */
}
.feature-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    color: #f8f9fa;
    z-index: 2;
    text-align: left;
}

.feature-item-info{
    margin: 0;
}

.feature-item-info p {
    margin: 5px 0;
    font-size: 18px;
}

/* Quote */

.quote-section{
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: space-evenly;
}

.quote-form-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 412px;
    gap: 25px;
    padding: 15px 10px;
}

.quote-section h1{
    font-family: 'smFontLight', sans-serif;
    color: #f8f9fa;
    font-size: 80px;
}

.quote-section p{
    font-family: 'smFontLight', sans-serif;
    color: #f8f9fa;
    font-size: 24px;
    width: 640px;
}

.quote-item-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.quote-item-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.quote-item-col label{
    color: #f8f9fa;
}

.quote-item-col input, .quote-item-col select{
    height: 44px;
    border-radius: 8px;
}

.quote-form-home button{
    width: 216px;
    height: 62px;
    background: #363636;
    color: #f8f9fa;
    border: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: "SansCondFont", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 8px;
}

.quote-form-home button:hover{
    background: #0030FF;
}

/* News Section Styling */
.news-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-title{
    color: #001233;
    font-size: 80px;
    font-family: 'smFontLight', sans-serif;
}

.container-news{
    width: 85%;
}

/* Carousel Wrapper */
.news-carousel-wrapper {
    width: 85%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.news-carousel-track-wrapper {
    overflow: hidden;
    width: 100%;
    padding: 0 4px;
}

.news-carousel-track {
    display: flex;
    justify-content: flex-start; /* Center the track */
    align-items: center;
    gap: 55px; /* Reduced gap */
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.news-carousel-track a{
    text-decoration: none;
}

.news-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Reduced gap */
    transition: transform 0.5s ease-in-out;
}

.news-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 500px;
    flex-shrink: 0;
}

.news-temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #001233;
    width: 338px;
    height: 40px;
    border-radius: 0 0 50px 0;
    color: #f8f9fa;
    padding: 0 10px;
    flex-shrink: 0;
}

.news-temp p{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.news-btn{
    display: flex;
    font-size:  24px;
    width: 216px;
    height: 62px;
    color: #001233;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: "SansCondFont", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 8px;
    gap: 5px;
}

.news-btn svg{
    display: flex;
    fill: #001233;
}

.news-content{
    width: 100%;
}

.news-image-wrapper img{
    width: 100%;
    height: 450px;
    border-radius: 8px;
    object-fit: cover;
}

.card-title{
    color: #001233;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.news-image-wrapper {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

/* Hover Overlay */
.news-image-wrapper .hover-overlay {
    position: absolute;
    top: 0;
    left: -100%; /* Initially hidden */
    width: 100%;
    height: 100%;
    background: #001233ee;
    transition: left 0.5s ease-in-out; /* Smooth slide-in effect */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;;
}

.news-image-wrapper:hover .hover-overlay {
    left: 0; /* Slide in on hover */
    border-radius: 8px;
}

.hover-overlay p {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

/* Carousel Navigation Buttons */
.carousel-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    background: #001233;
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 10;
    transition: background 0.3s ease;
    border-radius: 5px;
}

.carousel-nav:hover {
    background: #000f73;
}

.carousel-nav.prev {
    left: 0;
}

.carousel-nav.next {
    right: 0;
}

/* Responsive Styles */
@media ( width <= 768px) {
    .hero-banner h1{
        font-size: 50px;
    }

    .feature-container{
        flex-direction: column;
    }
    .quote-section{
       flex-direction: column;
    }
    .quote-section h1{
        padding: 15px;
    }

    .news-carousel{
        flex-direction: column;
        gap: 15px;
    }

    .quote-section p{
        font-family: 'smFontLight', sans-serif;
        color: #f8f9fa;
        font-size: 18px;
        width: 100%;
        padding: 15px;
    }

}