.property-wrapper{
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-select-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .custom-select-container {
    position: relative;
    width: 345px;
  }
  
  .custom-select {
    width: 100%;
    height: 60px;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border: 1px solid #ccc;
    padding-right: 40px;
    font-size: 16px;
  }
  
  /* Default arrow */
  .custom-select-container::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
    pointer-events: none;
    color: #363636;
    font-size: 14px;
  }
  
  /* Rotate arrow on focus */
  .custom-select:focus + .custom-select-container::after,
  .custom-select-container:has(select:focus)::after {
    transform: translateY(-50%) rotate(180deg);
  }
  .custom-select option:focus, 
  .custom-select option:hover {
    background-color: #0030FF;
    color: #fff;
  }

  .property-btn{
    width: 174px;
    height: 60px;
    border: none;
    background: #363636;
    color: #D9D9D9;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .property-btn:hover{
    background: #0030FF;
  }

  .header-property {
    text-align: center;
    width: 100%;
  }

  .header-property h1{
    font-size: 80px;
  }
  .header-property p{
    font-size: 20px;
  }

  .property-card{
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .image-container {
    overflow: hidden;
    width: 400px; /* set as needed */
    height: 400px; /* set as needed */
  }

  .zoom-in {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .zoom-in:hover {
    transform: scale(1.2); /* Zoom in slightly */
  }

  .info-property-wrap p{
    padding: 0;
    margin: 0;
  }

  .property-card h3{
    width: 350px;
  }

  .property-card button{
    width: 160px;
    height: 44px;
    border: none;
    font-size: 14px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .property-card button:hover{
    background: #0030FF;
    color: #D9D9D9;
  }

  .hrb-property{
    background: #363636;
    color: #D9D9D9;
  }

  .prop-wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 360px;
    height: 614px;
    overflow: hidden;
  }

  .dark{
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  }

  .white{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #D9D9D9;
  }

  .slide-info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #363636cc;
    height: 280px;
    transform: translateY(54%);
    transition: transform 0.3s ease-in-out;
  }

  .prop-wrapper:hover  .slide-info {
    transform: translateY(0);
  }

  .slide-info button{
    width: 160px;
    height: 40px;
    border: none !important;
    background: #D9D9D9;
    color:#363636;
    font-size: 14px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .slide-info button:hover{
    background: #0030FF;
    color: #D9D9D9;
  }
  